- name: install rms
  win_command:
    cmd: "{{ rms_path }}{{ device_company }}.exe -fullinstall"

- name: install chrome
  ansible.windows.win_package:
    path: C:\installer\chrome.msi
    state: present
  tags: ['chrome']

- name: install libreOffice
  ansible.windows.win_package:
    path: C:\installer\libreoffice.msi
    state: present
  tags: ['libre']

- name: install adobereader
  ansible.windows.win_package:
    path: C:\installer\adobereader\AcroRead.msi
    state: present
  tags: ['adobe']

- name: install 7zip
  ansible.windows.win_package:
    path: C:\installer\7zip.msi
    state: present
  tags: ['7zip']

