---
- name: Create installer folder in C
  ansible.windows.win_file:
    path: C:\installer
    state: directory

- name: Copy installer zip
  ansible.windows.win_copy:
    src: "{{ nas_ip }}\installer.zip"
    dest: C:\installer
    remote_src: true

- name: unzip installer
  community.windows.win_unzip:
    src: C:\installer\installer.zip
    dest: C:\installer\
    creates: C:\installer\rms
